@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Environment Variables, Gotta Catch Em All</h1>
    <p><b>SOME_ENVIRONMENT_VARIABLE: </b>@ViewBag.AnEnvironmentValue</p>
</div>
